# Entornos virtuales
.venv/
venv/
env/

# Entornos Conda
.conda/

# Python
__pycache__/
*.py[cod]
*.pyo

# Base de datos
*.db
*.sqlite
*.sqlite3

# Pytest
.pytest_cache/

# Black
.black_cache/

# VS Code
.vscode/

# PyCharm
.idea/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log